rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can only read and write their own profile information.
    match /users/{userId} {
      allow read, update, write: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Claims can be created by any authenticated user.
    // Users can only read their own claims.
    // Admins (future role) could read all claims.
    match /claims/{claimId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      // allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
