rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and create on claims
    match /claims/{claimId} {
      allow read, create: if true;
    }
  }
}
